{% extends 'base.html' %}
{% block content %}
<div class="album py-5 bg-light">
<div class="container">
<div class="row">
{% for food in foods %}
<div class="col-lg-4">
			<img class="thumbnail" src="{{ food.food_image.url }}">
			<div class="box-element product">
				<h6><strong>{{food.name}}</strong></h6>
				<hr>

				<button data-product="{{food.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<h4 style="display: inline-block; float: right"><strong>TK: {{food.price}}</strong></h4>

        <p class="card-text">Info :{{ food.food_info }}</p>

			</div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}