{% extends 'base.html' %}
{% block content %}

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for r in rl.all %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{r.image.url}}" alt="Card image cap">
                <div class="card-body">
                 <p class="card-text"><a href="{% url 'resdetail' r.id %}">{{r.summary}}</a></p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
{% endblock %}