{% extends 'base.html' %}
{% block content %}
<div class="album py-5 bg-light">
<div class="container">
<div class="row">
{% for food in riders %}
	{%if food.rider_ac== 'none' %}
		<div class="col-lg-4">
					<div class="box-element product">
						<h6><strong>{{food.resturent}}</strong></h6>
						<hr>
						<h4 style="display: inline-block; float: right"><strong>TK: {{food.deli_address}}</strong></h4>
						<h4 style="display: inline-block; float: right"><strong>TK: {{food.time}}</strong></h4>

					</div>
					  <form class="site-form" action="/rider/ac/" method='POST'>
						<input type="submit" value="Accept">
					    </form>
		</div>
	{%endif%}
{% endfor %}
</div>
</div>
</div>
{% endblock %}
